body {
  margin: 0;
  background-color: #f0eae5;
}
.menu {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  background-image: url("img/gym.jpg");
  background-position: center;
  background-size: cover;
  height: 100px;
}
.menu a {
  margin-right: 5px;
  color: white;
  text-decoration: none;
  width: 100px;
  font-size: med;
}

.menu a:hover {
  color: rgb(224, 214, 214);
}
.titu {
  background-color: #a77474;
  padding: 5px;
  margin: 10px;
  margin-right: 10px;
  border-style: double;
  background-image: linear-gradient( to top ,#a77474 ,#f0eae5);
}


.descargas {
  display: flex;
  align-items: center;
}
.descargas img {
  width: 100px;
}
.logos {
  display: flex;
}
.logos img {
  width: 30px;
  margin-right: 5px;
}
.opcion {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  justify-self: end;
}
.opcion a:hover {
  color: black;
}

.letra {
  font-size: x-large;
}
@media (max-width: 300px) {
  .menu {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
}
.descrip {
  background-color: rgb(209 159 159);
    font-size: large
}
.descrip .opciones {
  display: grid;
  grid-template-columns: 50% 50%;
  }
@media (max-width: 600px) {
  .descrip .opciones {
    display: grid;
    grid-template-columns: 100%;
  }
}

.descrip div {
  background-color: rgb(209, 159, 159);
  text-align: center;
  border: 2px solid black;
  background-image: linear-gradient( to top ,#a77474 ,#f0eae5);
}
.info {
  display: grid;
  background-color: cornsilk;
  border: 1px solid black;
}


