$myWhite: #f0eae5;
$myBlack: #0a0a0a;
$myBrown: #716b6b;
$myGray: #b1b2b4;
$myPink:#fbfbfb;
 
@mixin flex-flex-end-flex-start{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sizes ($mt, $pl, $mb) {
  margin-top: $mt;  
  padding-left: $pl;
  margin-bottom:  $mb;
}
 



body {
  background-color: white;
  margin: 0;
  font-family: sans-serif;
}

.menu {
  @include flex-flex-end-flex-start;
  height: 50px;
 
  a {
    margin-right: 15px;
    color: $myBlack;
    text-decoration: none;
    font-size: med;

    &:hover {
      color: $myBrown;
    }
  }
}

@media (max-width: 300px) {
  .menu {
    flex-direction: column;
  }
  .menu {
    width: 100%;}
  
  }
 
  .titu .descrip {
    display: grid;
    grid-template-columns: 50% 50%;
    }
  @media (max-width: 600px) {
    .descrip .menu {
      display: grid;
      grid-template-columns: 100%;
    }
  }

.titu {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.caja {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: $myGray;
  margin: 0 0 25;
  padding: 5px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}
@media (max-width: 600px) {
  .botones {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $myWhite;
  padding: 10px 0;

  .logos {
     @include flex-center-center;
    margin-bottom: 30px;

    img {
      width: 30px;
      margin: 0 10px;
      transition: .5s opacity;

      &:hover {
        opacity: .7;
      }
    }
  }

  .button {
    @include flex-center-center;
    margin-bottom: 30px;

    .button {
      color: $myBlack;
      font-size: 10px;
      background-color: $myWhite;
      border-radius: 10px;
      border: 1px solid $myBlack;
      margin: 0 10px;
    }
    
  }

  .button2 {
    @extend .button;
    background-color: rgb(250, 235, 235);
  }

  } 
  .sn {
    color: $myBlack;

  }
  




 

// contacto //


   .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $myPink; 
    padding-left: 30px; 
  }

  input{
    background-color:$myPink; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #898789; 
    @include sizes(10px, 10px, 20px)
   
  }

  textarea{
    background-color: $myPink; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #5f5d5e; 
    padding-top: 15px; 
    @include sizes(10px, 10px, 20px)
  }

  label{
    display: block; 
    float: center;  
  }

  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #e9e3e8; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }

  button p{
    color: rgb(9, 9, 9); 
  }
  .aviso{
    font-size: 13px;  
    color:$myBlack;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #968796;
  }
  
  
  p{
    font-size: 14px; 
    color: $myBlack; 
  }
  
  
  ::-webkit-input-placeholder {
   color:transparent;
  }
   
  // objetivos // 
  


  .letra {
    font-size: x-large;
    text-align: center;
    background-color:#f3eeee;
    margin: 150px;
    padding: 20px;
  }

  .leads, .lead1, .lead2, .lead3{
    font-size: x-large;
    text-align: center;
    margin: 150px;
    padding: 20px;
  }
  

  $leadds: (
    1:#dfc3c3,
    2:#f0eae5,
    3:aliceblue
  );
  
  
   @each $leadNumber, $color in $leadds {
     .lead#{$leadNumber} {
       background-color: $color;
     }
   }

  .imagen{
    max-width: 55%;
  height: auto;
  margin: 20px;
  padding: 5px;
  display: block;
  margin: auto;
  }
  .imagen:hover  {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
  }
  .imagen {
    overflow:hidden;
    text-align: center;
  }

  .box2 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(118, 116, 116);
    border-radius: 4px;
    box-sizing: border-box;
  }