$myWhite: #f0eae5;

@mixin flex-flex-end-flex-start{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@mixin sizes ($padd, $marg){
  padding: $padd;
  margin: $marg;
}
@mixin flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin sizes ($marbottm, $wdth){
  margin-bottom: $marbottm;
  width: $wdth;
}


body {
  margin: 0;
  background-color: $myWhite;
}
.menu {
  @include flex-flex-end-flex-start
}
.menu {
  background-image: url("img/gym.jpg");
  background-position: center;
  background-size: cover;
  height: 100px;
}
.menu a {
  margin-right: 5px;
  color: $myWhite;
  text-decoration: none;
  width: 100px;
  font-size: med;

  &:hover {
    color: rgb(224, 214, 214);
  }
}
.titu {
  @include sizes(5px, 10px )
}
.titu {
  background-color: #a77474;
  margin-right: 10px;
  border-style: double;
  background-image: linear-gradient( to top ,#a77474 ,#f0eae5);
  
}


.descargas {
  display: flex;
  align-items: center;
  &img {
    width: 100px;
  }
}

.button {
  color: black;
  width: 100px;
  height: 30px;
  font-size: 10px;
  background-color: white;
}
.button--error {
  @extend .button;
  background-color: red;
}
.button--success {
  @extend .button;
  background-color: green;
}

.logos {
  display: flex;
}
.logo {
  width: 30px;
  margin-right: 5px;
}
.fb{
  @extend .logo; 
  background-color: rgb(90, 90, 255); 
}
.ins{
  @extend .logo;
  background-color: rgb(186, 12, 131);
}
.wp{
  @extend .logo;
  background-color: rgb(106, 240, 106);
}

.opcion {
  @include flex-center-center
}
.opcion{
  @include sizes(20px, 100% )
}
.opcion {
  flex-direction: column-reverse;
  justify-self: end;
  & a:hover {
    color: black;
  }
}

.letra {
  font-size: x-large;
}
@media (max-width: 300px) {
  .menu {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
}
.descrip {
  background-color: $myWhite;
    font-size: large
}
.descrip .opciones {
  display: grid;
  grid-template-columns: 50% 50%;
  }
@media (max-width: 600px) {
  .descrip .opciones {
    display: grid;
    grid-template-columns: 100%;
  }
}

.descrip div {
  background-color: rgb(252, 251, 251);
  text-align: center;
  border: 2px solid black;
  background-image: linear-gradient( to top ,#dfc3c3 ,$myWhite);
}
.info {
  display: grid;
  background-color: cornsilk;
  border: 1px solid black;
}
.opciones { 
  transition: 4s;
  &:hover {
    transform: scaleX(.5) ;
}

}

$leadds: (
  1:#dfc3c3,
  2:#f0eae5,
  3:aliceblue
);


 @each $leadNumber, $color in $leadds {
   .lead#{$leadNumber} {
     background-color: $color;
   }
 }
